beautifulsoup4==4.11.1
bertopic==0.12.0
contractions==0.1.72
datefinder==0.7.3
hdbscan==0.8.28
joblib==1.1.0
langdetect==1.0.9
matplotlib==3.5.1
nltk==3.7
numpy==1.21.6
nums_from_string==0.1.2
pandas==1.4.2
python_dateutil==2.8.2
requests==2.27.1
scikit_learn==1.1.2
seaborn==0.11.2
streamlit==1.15.0
textblob==0.17.1
umap==0.1.1
umap_learn==0.5.3
openpyxl
